.text-bold {
  font-weight: 600;
}
.text-italic {
  font-style: italic;
}
.text-big {
  font-size: 1.3em;
}
.text-indent {
  text-indent: 0.5rem;
}
.image-center {
  display: block;
  margin: 2rem auto;
}
