:root {
  --background-color: grey;
  --content-page-width: 81rem;
  --content-paper-color: rgb(237, 237, 237);
  --content-text-color: black;
  --content-ruler-color: rgba(0, 0, 0, 0.855);
  --bookmark-text-color: black;
  --bookmark-background-color: white;
}
html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  /* font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif; */
  line-height: 2.3rem;
}
h1,
h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
}
figure {
  margin-bottom: 2rem;
}
figcaption {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}
img {
  width: 100%;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}
/* content area */
.content {
  width: 100%;
  min-height: 100rem;
  margin: 0 auto;
}
@media screen and (min-width: 810px) {
  .content {
    width: var(--content-page-width);
  }
}
.content__ruler {
  display: none;
  position: fixed;
  background-color: var(--content-ruler-color);
  width: 100%;
  left: 0;
}
@media screen and (min-width: 810px) {
  .content__ruler {
    width: var(--content-page-width);
    left: 50%;
    transform: translateX(-50%);
  }
}
.content__ruler-top {
  height: 10rem;
  top: 0;
}
.content__ruler-bottom {
  bottom: 0;
  height: 50rem;
}
.content__page {
  width: 100%;
  min-height: 100vh;
  background-color: var(--content-paper-color);
  border: 1px solid black;
  margin: 0 0 5px 0;
  padding: 9rem 8rem;
  font-size: 1.8rem;
}
@media screen and (max-width: 810px) {
  .content__page {
    padding: calc(1rem + 5vw) calc(1rem + 5vw);
  }
}
.content__list {
  list-style: disc inside;
  padding: 0 0 0 2rem;
  text-align: justify;
}
.content__order-list {
  padding: 0 0 0 2rem;
  text-align: justify;
  list-style-type: decimal;
  margin-left: 2rem;
}
.content__page p {
  margin: 0 0 5px 0;
  text-align: justify;
}
.content__page p.para {
  text-indent: 3rem;
}
/* bookmark bar area */
.bookmark-bar {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: var(--content-paper-color);
  text-align: justify;
  padding: 1rem;
  overflow: auto;
}
.bookmark-bar__text {
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 1.3rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.bookmark-bar__text:hover {
  text-decoration: underline;
}
.bookmark-bar__btn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: fixed;
  top: 0.3rem;
  left: 20.3rem;
  font-size: 2rem;
  background-color: var(--content-paper-color);
  text-align: center;
  border-radius: 0.3rem;
}
@media screen and (max-width: 230px) {
  .bookmark-bar__btn {
    display: none;
  }
}
.bookmark-bar__expand-icon {
  display: none;
}
