body {
    background-color: pink;
}

@media (min-width: 50em) {
    body {
        background-color: blue;
    }
}

h1 {
    color: red;
}

a:link {
    color: purple;
}

.manythings {
    color: green;
}

#onething {
    font-weight: bold;
}

* {
    font-size: 125%;
}

.box p {
    color: greenyellow;
}

.box p:first-child {
    color: grey;
}

h1, h2, .intro {
    text-decoration: underline dotted;
}