:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
.wrap {
  width: 100%;
  min-height: 100vh;
  background-color: var(--light-gray);
}
.style-content {
  max-width: 52rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 10px 0px #0000002b;
  margin-top: 10%;
}
.join p:first-of-type {
  color: var(--bright-yellow);
  font-weight: 700;
}
.join p:nth-of-type(2) {
  color: var(--grayish-blue);
}
.join__header {
  color: var(--cyan);
  font-weight: 700;
}
.monthly {
  background-color: var(--cyan);
  color: white;
  border-radius: 0 0 0 1rem;
}
@media screen and (max-width: 600px) {
  .monthly {
    border-radius: 0;
  }
}
.monthly__header {
  font-weight: 700;
}
.monthly__price {
  font-size: 1.5em;
  width: 6rem;
  font-weight: 700;
}
.monthly__per-month {
  color: var(--light-gray);
  font-size: 0.9em;
}
.monthly__full {
  font-size: 0.8em;
}
.monthly__button {
  border: none;
  color: white;
  border-radius: 0.5rem;
  background-color: var(--bright-yellow);
  box-shadow: 0 0 10px 0px #0000002b;
  padding: 1rem 0;
}
.why {
  background-color: hsla(178.7, 61.8%, 43.1%, 0.77);
  border-radius: 0 0 1rem 0;
}
@media screen and (max-width: 600px) {
  .why {
    border-radius: 0 0 1rem 1rem;
  }
}
.why__header {
  color: white;
  font-weight: 700;
}
.why__text {
  color: var(--light-gray);
  font-size: 0.8em;
}
footer {
  margin-top: 1rem;
}
