:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
.style-cover {
  width: 100%;
  height: 100vh;
  background-color: var(--light-gray);
}
.style-box {
  width: 90%;
  max-width: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light-gray);
  box-shadow: 1px 2px 20px 0px #0000003d;
  border-radius: 1rem;
  z-index: 2;
}
.style-box1,
.style-box2,
.style-box3 {
  padding: 2.5rem 2rem;
}
.style-box1 {
  background-color: white;
  border-radius: 1rem 1rem 0 0;
}
.style-box1 p:first-of-type {
  color: var(--cyan);
  font-weight: 700;
  padding: 0.5rem 0;
}
.style-box1 p:nth-of-type(2) {
  color: var(--bright-yellow);
  font-weight: 700;
  padding: 1rem 0;
}
.style-box1 p:nth-of-type(3) {
  color: var(--grayish-blue);
  padding: 1rem 0;
}
.style-box2 {
  background-color: var(--cyan);
  height: 25.2rem;
  border-radius: 0 0 0 1rem;
}
@media screen and (max-width: 600px) {
  .style-box2 {
    border-radius: 0;
  }
}
.style-box2 p:nth-of-type(1) {
  font-weight: 700;
  padding: 0.5rem 0;
}
.style-box2 p:nth-of-type(2) {
  padding: 0.5rem 0;
}
.style-box2 p:nth-of-type(2) span {
  display: inline-block;
}
.text-big {
  padding-right: 1rem;
  font-weight: 700;
  font-size: 2.5rem;
}
.style-box2 p:nth-of-type(3) {
  padding: 0.5rem 0;
}
.style-box2 button {
  width: 100%;
  background-color: var(--bright-yellow);
  border: none;
  border-radius: 0.5rem;
  color: var(--light-gray);
  padding: 0.5rem 0;
  margin-top: 2rem;
  font-weight: 700;
  box-shadow: 1px 2px 20px 0px #0000003d;
}
.style-box3 {
  background-color: hsl(179, 28%, 55%);
  border-radius: 0 0 1rem 0;
}
@media screen and (max-width: 600px) {
  .style-box3 {
    border-radius: 0 0 1rem 1rem;
  }
}
.style-box3 p:first-child {
  margin-bottom: 1rem;
  font-weight: 700;
}
footer {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
